@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

html{
    cursor: url("sword.png"), url("sword.png"), default;
}

body {
    font: 'Rowdies';
    color: rgb(255, 255, 255);
    background: url('m1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Indie Flower';
}

.Black-box-0{
    background-color: black;
    width: 30em;
    height: 20em;
}

button {
    cursor: url("spitzhacke.png"), url("spitzhacke.png"), default;
}

.image-box-1{
    width: 100%;
}

.link {
    color: red;
}

.link:hover {
    font-size: larger;
}

.oben{
    color: blue;
}

@media only screen and (max-width: 1400px) {
    .oben{
        color: red;
    }
}